/* Main page */
.body{
  display: flex;
}
/* Header component  */
.head{
  border:0.1rem solid  black;
  border-radius: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(230, 230, 230);
  box-shadow: .5rem .5rem .5rem gray;
  
}
.HeadLink{
  font-size: x-large;
  text-decoration: none;
  color: black;
}
Image{
  margin-left: 2rem;
}
.headNavigation{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-right: 2rem;
  
}
.HeadLink:hover{
  color: #008CBA;
  font-weight: bolder;
}

/*Card Css */
.InsideCard{

  border: .1rem solid black;
  height: 22rem;
  width: 22rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.Card{
 display: flex;
 flex-direction: row;
justify-content: center;
align-items: center;


}
.CBtn{
  
  color: black;
  background-color: #008CBA;
  border-radius: 1rem;
  padding:.5rem ;
  font-size: x-large;
  width: 40%;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  border: .15rem solid black;
}

.CBtn:hover{
  color: black;
  border: .25rem solid #008CBA;
  background-color: white;
}
/* DarMode CSS */
.dark{
  
  display: flex;
  
}
.darkMode
{
  border: .15rem solid black;
  padding: .5rem;
  border-radius: 1.2rem;
  cursor: pointer;
  position: absolute;
  top:20px;
  left:100px;
}
.LuSunMoon{
  display: none;
}

/* Game page */

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem auto;
  font-size: 2rem;
  font-weight: bolder;
}

.LinkGameSection{
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bolder;
  margin: 1rem;
}

/*About Section*/
.About{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem auto;
  font-size: 2rem;
  font-weight: bolder;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .Card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .InsideCard {
    flex-basis: 100%; 
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .Card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .InsideCard {
    width: 80%; 
    margin: 1rem 0; 
  }
}

@media screen and (max-width: 480px) {
  .head {
    flex-direction: column;
    align-items: center;
  }
  .headNavigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
  }
  .Card {
    flex-direction: row;
    align-items: center;
  }
  .InsideCard {
    width: 90%; 
    margin: 1rem 0;
  }
}

